*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

label{
    letter-spacing: 1.5px;
}

/* Class dùng chung */
.background{
    z-index: 0;
    position: relative;
    background-color: #ffe5d8;
    /* background-image: url(Media/background-section.jpg);
    background-position: center;
    background-size: cover; */
}

.side-bar{
    text-align: center;
    justify-content: center;
    padding: 20px 5px;
    display: block;
    position: fixed;
    top: 40%;
    right: 5px;
    z-index: 99;
    height: 150px;
    width: 50px;
    font-size: 25px;
    background: rgba(3, 3, 3, 0.5);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.margin{
    margin-top: 20px;
}

.margin-bottom-30px{
    margin-bottom: 30px;
}

.section{
    position: relative;
    margin-top: 150px;
    margin-bottom: 20px;
}

.button-group{
    margin-top: 20px;
}

.download-btn a{
    font-size: 18px;
    letter-spacing: 1px;
    background: black;
    color: snow;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: 200ms linear;
    font-weight: 500;
}

.download-btn a:hover{
    background: transparent;
    color: black;
    border: 3px solid black;
}


/* Start: Header -----------------------*/
.fixed-top-header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
    transition: 0.3s;
    padding: 30px 0;
    height: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0 , 0.3);
    background: #ffe5d8;
}

.navbar{
    justify-content: center;
    display: flex;
    position: relative;
    list-style-type: none;
}

.menu>li{
    padding: 0 10px;
    display: inline-block;
}

.menu li a{
    line-height: 46px;
    padding: 0 40px;
    font-size: 15px;
    color: black;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
    display: block;
    transition: all 200ms ease-in-out;
}

.menu li a:hover{
    transform: scale(1.2);
    border-radius: 6px;
    background-color: snow;
    color: black;
}

.menu .subnav{
    display: none;
    position: absolute;
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0 , 0.3);
}

.menu .subnav li{
    display: block;
}
.menu .subnav a{
    text-transform: capitalize;
    font-weight: 250;
}

.icon{
    padding-left: 3px;
    font-size: 12px;
    font-weight: 300;
    transition: all 200ms;
}

.menu .subnav li:hover a,
.menu > li:hover >a{
    background: snow;
    border-radius: 6px;
}

.menu li:hover .subnav{
    display: block;
}

.subnav{
    /* overflow:hidden; */
    background: white;
    width: 220px;
    margin-top: 5px;
    border-radius: 0 0 10px 10px;
    z-index: 99;
}

/* End: Header -------------------------*/



/* Start: Carousel/Slider ---------------*/

.btn1{
    margin-bottom: 8%;
    background: white;
    color: black;
    width: 200px;
    border:none;
    border-radius: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all 200ms ease-in-out;
}

.btn2{
    margin-bottom: 18%;
    transition: all 200ms ease-in-out;
}

.btn3{
    background: #f14a4a;
    color: white;
}

.btn3:hover{
    transform:scale(1.3);
    color: black;
    background: white !important;
}

.btn2:hover{
    transform:scale(1.3);
    color: black;
    background: white !important;
}

.btn1:hover{
    transform: scale(1.3);
    background-color:lightpink;
}

/* End: Carousel/Slider -----------------*/


/* Start: Footer ------------------------*/
.footer{
    color: white;
    background-color: black;
    margin-top: 5px;
    padding: 20px 0;
}

.logo{
    text-align: center;
    padding-bottom: 5px;
}

.contact{
    margin: 5px 0;
    text-align:center;
    font-weight: 200;
}

.social-icons{
    display: flex;
    justify-content: center;
}

.icons{
    font-size: 40px;
    padding: 20px 10px;
    text-align:center;
}

.fa:hover{
    color: lightpink;
    font-weight: 700;
    transform: scale(1.3);
}

.fa{
    padding: 0 10px;
    color: white;
    transition: all 200ms;   

}

/* End: Footer --------------------------*/

/* Start: Best-Seller Section ------------------- */
.menu-box{
    border: 10px solid white;
    border-radius: 10px;
    text-align:center;
    margin-bottom: 20px;
    padding: 10px; 
    background: snow; 
    box-shadow: 0 0 10px rgba(0, 0, 0 , 0.3);
}

.menu-item{
    padding: 15px;
    transition: all 200ms ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

}

.single-item{
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0 , 0.3);
    transition: all 200ms ease-in-out;
}

.menu-item:hover{
    transform: translateY(-10%);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}


.list-items{
    margin-top: 20px;
}

/* End: Best-Seller Section ------------------- */

/* Start: Feedback Section ---------------------*/
.title-header {
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1px;
    font-size: 30px;
    padding: 10px 0;
}

.feedback-list{
    margin-top: 10px;
}

/* Image Setting */
.img-size {
    overflow: hidden;
    position: relative;
    padding-bottom: 120%;
  }
  
  .img-overlay {
    border: 8px snow solid;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
    transition: all 0.4s;
  }
  


  /* Overlay */
  
  .img-layer img {
    width: 105%;
    position: absolute;
    top: 0;
    left: -8%;
    transition: all 0.3s;
  }
  
  .img-content {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 99;
    transition: all 0.4s;
  }
  
  .img-quote {
    transform: translateY(0.5rem);
    transition: all 0.4s;
    opacity: 0;
    padding: 0 40px;
    color: white;
    font-size: 15px;
  }
  
  .img-title{
    padding: 0 20px;
    color: white;
    text-shadow: 4px 3px 0px black; }
  
  
  .img-layer:hover .img-content {
    bottom: 3rem;
  }
  
  .img-layer:hover .img-quote {
    opacity: 1;
    transform: none;
  }
  
  .img-layer:hover img {
    left: 0;
  }
  
  .img-layer:hover .img-overlay {
    /* opacity: 0; */
    background: rgba(0, 0, 0, 0.5);
  
  }
  /* End: Feedback Section ---------------------*/




  
  /* Start: Shop section */
  .shop-section{
      height: 100%;
      margin-top: 120px;
  }

  .page-bar a{
      padding: 10px 16px;
      border-radius: 50%;
      text-decoration: none;
      background: white;
      color: black;
      font-weight: 500;
      transition: background-color 300ms;
  }

  .page-bar a.active{
      background: lightpink;
      color: white;
  }

  .page-bar a:hover:not(.active){
      background: rgb(201, 197, 197);
  }

  /* Start: Filter-Bar */
  .filter-section{
    margin-top: 130px;
}

.categories{
    border: 20px solid transparent;
    font-size: 20px;
    padding: 10px 0;
    background: snow;
    border-radius: 15px;
    margin-bottom: 15px;
}

.categories-header p{
    font-size: 35px;
    font-weight: 350;
    letter-spacing: 1.5px;
}

.categories-header p::after{
    display: block;
    content: "";
    height: 1px;
    background: black;
}

.categories-list li{
    line-height: 30px;
    display: block;
    list-style-type: none;
}

.categories-list li a{
    font-size: 20px;
    display: block;
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-weight: 300;
    letter-spacing: 1.5px;
    transition: 0.2s linear;
    padding-left: 10px;

}

.categories-list li a:hover{
    background: white;
    border-left: 10px solid lightpink;
}

/* List SP -----------------------------*/
.element_gifts img{
    max-width: 60%;
}


.element_gifts{
    width: 300px;
    height: 300px;
    border: 3px solid #bbbb;
    margin-bottom: 20px!important;
    margin: 0 10px;
    transition:  0.2s linear;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    border-radius: 15px;
    background: white;
    padding-top: 5px;
}

.element_gifts:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

/* test lai #filter */

.mid1{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transition: 0.4s;
}


/* slide-menu */
.vertical-menu {
    border-radius: 20px;
	margin: 10px 0;
    width: 100%;
}

.vertical-menu li{
    padding-left: 10px;
    
}
.vertical-menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.slide-box{
    background: #ffe5d8;
    padding: 10px 15px;
    border-radius: 20px;
}

.vertical-menu ul li a {
    padding: 5px 10px;
	display: block;
	color: black;
    font-size: 20px;
    font-weight: 320;
	text-decoration: none;
	transition: 0.2s linear;
}
.vertical-menu ul li a:hover {
	border-left: 8px solid black;
    background: snow;

}

.vertical-menu ul li a .fa {
    color: black;
	width: 16px;
	text-align: center;
	margin-right: 5px;
	float:right;
}
.vertical-menu ul ul {
	background-color: transparent;
}

.vertical-menu ul ul li{
    display: block;
    background: white;
}
.vertical-menu ul li ul li a {
    width: 100%;
	/* background: snow; */
	border-left: 4px solid transparent;
}
.vertical-menu ul li ul li a:hover {
	width: 100%;
    background: snow;
	border-left: 10px solid lightpink;
}









/* End: Shop Section */

/* Start: About Us --------------- */
.heading>p{
    font-size: 50px;
    font-weight: 600;
}

.bio>p{
    font-size: 18px;
    color: darkgrey;
    font-weight: 300;
}

.rs-img>img,
.ls-img>img{
    border: 5px solid snow;
}


.quote{
    padding: 20% 0;
}
.quote>blockquote{
    font-size: 50px;
    font-weight: 300;
    font-style: italic;
    color: rgb(65, 62, 62);
}

.member>p{
    line-height: 5px;
    font-size: 40px;
    letter-spacing: 2px;
}

.member-list{
    margin-top: 20px;
    border-top: 3px solid darkgrey;
    border-bottom: 3px solid darkgrey;
    padding: 10px 0;
}

/* Members ------------------------ */
.profile-box{
    overflow: hidden;
    position: relative;
}
.profile-box img{
    width: 100%;
    height: auto;
}
.profile-box .box-content{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s ease 0.5s;
}
.profile-box:before,
.profile-box:after,
.profile-box .box-content:before,
.profile-box .box-content:after,
.profile-box .box-overlay{
    content: "";
    width: 20%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform: scale(1.2);
    transition: all 0.3s ease 0.1s;
}

.profile-box:after{
    left: 20%;
    transition-delay: 0.2s;
}
.profile-box .box-content:before{
    left: 40%;
    transition-delay: 0.3s;
}
.profile-box .box-content:after{
    left: 60%;
    transition-delay: 0.4s;
}
.profile-box .box-overlay{
    left: 80%;
    transition-delay: 0.5s;
}
.profile-box:hover:before,
.profile-box:hover:after,
.profile-box:hover .box-content:before,
.profile-box:hover .box-content:after,
.profile-box:hover .box-overlay{
    opacity: 1;
    transform: scale(1);
}

.profile-box .hidden-content{
    width: 100%;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    z-index: 1;
    transform: translate(-50%, -50%) scale(1.5);
    transition: all 0.3s ease 0.5s;
}
.profile-box:hover .hidden-content{
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}
.profile-box .fullname{
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
}
.profile-box .job-title{
    display: inline-block;
    font-size: 16px;
    font-style: italic;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 5px 0 20px 0;
}

/* Start: Contact Page ---------------------------- */
.snow-bg{
    background: snow;
}
.img-bg{
    background-image: url(Media/carousel/contact-img.jpg);
    background-position: center;
    background-size:cover;
}

.contact-heading{
    padding: 0 15px;
    justify-content: center;
}
.contact-heading>h1{
    font-size: 65px;
    font-weight: 500;
    letter-spacing: 2px;
}
.contact-heading>p{
    font-size: 18px;
    color: darkgrey;
}

.send-btn{
    width: 100%;
    font-size: 18px;
    letter-spacing: 1.5px;
    /* background: rgba(0,0,0,0.8); */
    background-color: black;
    color: snow;
    border: 0;
    text-transform: uppercase;
    transition: all 200ms;
    transition-delay: 0.1s;
}

.send-btn:hover{
    color: black;
    background: #ffe5d8;
}

.contact-img{
    padding: 30px 0;
}

.info-heading h3{
    font-size: 50px;
    letter-spacing: 1.5px;
}

.info-heading h3::after{
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background: black;
    margin-top: 10px;
    transition: all 200ms ease-out;
}

.info-content{
    padding-top: 20px;
    line-height: 50px;
}
.info-content>p{
    font-size: 20px;
    font-weight: 300;
}

.info-content a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
}
/* End: Contact Page ---------------------------- */


/* Feature ---------- */

.instruction h3{
    padding: 10px 15px;
    font-size: 45px;
    border-left: 10px solid lightpink;
    font-weight: 400;
    letter-spacing: 1px;
}


.description h3{
    font-size: 30px;
    letter-spacing: 1.5px;
}

.description h3::after{
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background: black;
}

.feature-item img{
    padding: 5px;
    background: snow;
}

/* Modal ---------------------------- */

.bg-member{
    background-image: url(Media/carousel/member-bg.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}


.modal-body{
    height: 500px;
}

.social-platform{
    justify-content: center;
    display: flex;
    list-style-type: none;
}

.social-list li{
    display: inline-block;
    padding: 0 10px;
}

.modal-header h3{
    font-weight: 350;
}

.social-list li a>i{
    font-size: 40px !important;
}

.fb{
    color: #3b5998 !important;
}

.twt{
    color: #00acee  !important;
}

.gg{
    color: #db4a39 !important;
}


.login-btn{
    background: black;
    color: white;
    font-weight: 500;
    transition:  200ms linear;
    border-radius: 15px;
}

.login-btn:hover{
    background: lightpink;
    color: black;
}


